<!-- about -->
  <!-- 728x90 -->
  <!-- about-top -->
  <div class="about-top">
    <!-- container -->
    <div class="container">
      <div class="about-info">
        <h3>About Us</h3>
        <p>Team làm việc thuộc lĩnh vực phát triển ứng dụng phần mềm, tại Đà Nẵng, Việt Nam.</p>
      </div>
      <div class="about-top-grids">
        <div class="col-md-8 about-top-grid">
          <h4>
            Team hoạt động với các ngôn ngữ lập trình: Java/J2EE, PHP, Andoird,... Team luôn luôn linh động và luôn tìm hiểu học hỏi với các công nghệ mới và các ngôn ngữ mới.
          </h4>
          <p>
            Hiện tại chúng tôi đang xây dựng các sản phẩm đang thịnh hành, phù hợp với nhu cầu thực tế cuộc sống.
          </p>
        </div>
        <div class="col-md-4 about-top-grid">
          <img src="assets/img/bg.png" alt="" />
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //about-top -->
  <!-- 728x90 -->
  <!-- about-team -->
  <div class="about-team">
      <!-- container -->
      <div class="container">
        <h4>Our Team</h4>
        <div class="team-grids">
          <div class="col-md-4">
            <div class="team-grid">
              <img src="assets/img/en_cee.png" alt="">
              <h6>EN CEE</h6>
              <p>Java developer</p>
              <p></p>
              </div>
          </div>
          <div class="col-md-4">
            <div class="team-grid">
              <img src="assets/img/annie.png" alt="">
              <h6>ANNIE</h6>
              <p>Android developer</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-grid last-member">
              <img src="assets/img/quiz.png" alt="">
              <h6>QUIZ</h6>
              <p>Tester</p>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <!-- //container -->
  </div>
  <!-- //about-team -->
