<!-- contact -->
<div class="contact-top">
  <!-- container -->
  <div class="container">
    <div class="contact-info">
      <h3>Contact</h3>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.68361972958!2d108.24377331468357!3d16.02997688890517!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142175a5ab7df39%3A0x64779588191cc10!2zTmd1eeG7hW4gxJDDrG5oIENoaeG7g3UsIEtodcOqIE3hu7ksIE5nxakgSMOgbmggU8ahbiwgxJDDoCBO4bq1bmcsIFZpZXRuYW0!5e0!3m2!1sen!2sin!4v1550113410591" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!--728x90-->
    <div class="mail-grids">
      <div class="col-md-6 mail-grid-left">
        <h3>Address</h3>
        <h5>Sử dụng email hoặc số điện thoại bên dưới nếu bạn muốn liên lạc, góp ý,.. với chúng tôi.</h5>
        <!-- <h4>Headquarters</h4> -->
        <p>211 - Nguyễn Đình Chiểu
          <span>Đà Nẵng</span>
          Việt Nam
        </p>
        <h4>Thông tin liên hệ</h4>
        <p>En Cee
          <span></span>
          Telephone: +84 987612411
          <span></span>
          E-mail: <a href="mailto:en_cee@hotmail.com">en_cee@hotmail.com</a>
        </p>
      </div>
      <div class="col-md-6 contact-form">
        <form>
          <input type="text" placeholder="Name" required="">
          <input type="text" placeholder="Email" required="">
          <input type="text" placeholder="Subject" required="">
          <textarea placeholder="Message" required=""></textarea>
          <input type="submit" value="SEND">
        </form>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- //container -->
</div>
<!-- //contact -->