<!-- footer -->
<div class="footer">
  <!-- container -->
  <div class="container">
    <div class="col-md-6 footer-left">
      <h3>Get in touch</h3>
      <form>
        <input type="text" placeholder="Email" required="">
        <input type="submit" value="Subscribe">
      </form>
    </div>
    <div class="col-md-3 footer-middle">
      <h3>Address</h3>
      <div class="address">
        <p>211 - Nguyen Dinh Chieu,
          <span>Danang, Vietnam.</span>
        </p>
      </div>
      <div class="phone">
        <p>+84 987612411</p>
      </div>
    </div>
    <div class="col-md-3 footer-right">
      <div class="fb-page" data-href="https://www.facebook.com/&#x1ea2;nh-&#x110;&#x1eb9;p-M&#x1ed7;i-Ng&#xe0;y-1139049782926347" data-tabs="timeline" data-height="230" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/&#x1ea2;nh-&#x110;&#x1eb9;p-M&#x1ed7;i-Ng&#xe0;y-1139049782926347" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/&#x1ea2;nh-&#x110;&#x1eb9;p-M&#x1ed7;i-Ng&#xe0;y-1139049782926347">Ảnh Đẹp Mỗi Ngày</a></blockquote></div>
    </div>
    <div class="clearfix"> </div> 
  </div>
  <!-- //container -->
</div>
<!-- //footer -->
<!-- copyright -->
<div class="copyright">
  <!-- container -->
  <div class="container">
    <div class="copyright-left">
      <p>Copyright © 2019 odxpo. All rights reserved | Design by <a href="mailto:en_cee@hotmail.com">EnCee</a></p>
    </div>
  </div>
  <!-- //container -->
</div>
<!-- copyright -->