<!-- banner -->
<div class="banner a-banner">
  <!-- container -->
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="/" class="txt anim-text-flow">media.odxpo.com</a>
      </div>
      <div class="icons">
        <ul>
          <li><a href="https://www.facebook.com/image.odxpo.page" target="_blank" class="social facebook"> </a></li>
          <li><a href="#" target="_blank" class="social twitter"> </a></li>
          <li><a href="https://www.youtube.com/channel/UCDvub1CqXOu1SnLYv0FefJw" target="_blank" class="social youtube"> </a></li>
          <li><a href="#" class="social skype"> </a></li>
          <li><a href="#" class="social linkedin"> </a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
    <div class="top-nav">
        <span class="menu">MENU</span>
        <ul class="nav1">
          <li class="primary-menu"><a href="/">Home</a></li>
          <li class="primary-menu"><a href="/gallery/funny">hài vl</a></li>
          <li class="primary-menu"><a href="/gallery/girl">Girl Xinh</a></li>
          <li class="primary-menu"><a href="/gallery/lol">League Of Legends</a></li>
          <li class="primary-menu"><a href="/gallery/anime">Anime</a></li>
          <!-- <li class="primary-menu"><a href="/gallery/chibi">Chibi</a></li> -->
          <!-- <li class="primary-menu"><a href="/gallery/natural">Thiên Nhiên</a></li> -->
          <li class="primary-menu"><a href="/gallery/other">Other</a></li>
          <!-- <li class="primary-menu"><a href="/video">Videos</a></li> -->
          <li class="primary-menu"><a href="/about">Giới Thiệu</a></li>
          <li class="primary-menu"><a href="/contact">Liên Hệ</a></li>
        </ul>
    </div>
  </div>
  <!-- //container -->
</div>  
<!-- //banner -->
